.form-section {
  margin: auto;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.title-input {
  height: 65px;
  margin-bottom: 20px;
  font-size: 1em;
}

.plot-input {
  height: 350px;
  overflow: scroll;
  font-size: 1em;
}

.submit-button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  margin: 10px auto;
}

.movie-score {
  font-size: 2em;
  margin: auto;
  text-align: center;
}
