.character-card {
  text-align: center;
  border: 5px solid black;
  background: rgba(255, 255, 255, 0.47);
}

.character-name {
  font-size: 1.5em;
}

.character-info {
  padding: 9px;
  width: 25%;
}

.species-icon {
  height: 30px;
  width: 30px;
  margin: auto;
}

.character-id-info {
  display: flex;
  flex-direction: column;
}

.character-button {
  background-color: transparent;
  border: none;
  padding: 10px;
}