.character-card {
  text-align: center;
  // border: 5px solid black;
  background: rgba(255, 255, 255, 0.47);
}

.character-name {
  font-size: 1.5em;
}

.species-icon {
  height: 30px;
  width: 30px;
  margin: auto;
}

.character-id-info {
  display: flex;
  flex-direction: column;
}

.character-button {
  background-color: transparent;
  border: none;
  border-radius: 3px 3px 3px 3px;
  padding: 10px;
  font-size: 0.8em;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(101, 221, 221, 0.509);
    transition: .4s;
  }
}