.character-card {
  border: 5px solid black;
  display: flex;
  width: 290px;
}

.character-name {
  padding: 18px;
  border-right: 1px solid black;
  font-size: 1.3em;
  inline-size: min-content;
}

.character-info {
  padding: 9px;
}

.species-icon {
  height: 30%;
  width: 70%;
}

.character-id-info {
  padding: 18px;
  border-right: 1px solid black;
  font-size: 1.3em;
  inline-size: min-content;
}