.home-container {
  margin: auto;
  align-content: center;;
}

.welcome-notes {
  margin: 200px auto;
  width: 70%;
}

.instructions {
  margin: auto;
  width: 80%;
  text-align: center;
}

.message {
  font-size: 1.3em
}