.user-choices-main {
  display: flex;
}

.user-form-container {
  width: 40%;
  padding: 30px;
}

.user-cards-container {
  display: grid;
  grid-gap: 80px 30px;
  padding: 15px 80px;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  overflow: scroll;
}

